<%- include('header') %>

  <h1 class="h-color">You have been Invited.</h1>
  <p class="p-color"><strong><%= creatorName %></strong> has invited you to become an administrator to their blonde account</p>
  <p class="p-color">Invitation code: <strong><%= inviteCode %></strong></p>
  <p class="p-color">Use code above to register your account as administrator.</p>
  <p style="margin-top: 40px;">
    <a href="<%= setupLink %>" class="button">Set up account</a>
  </p>
<%- include('footer') %>